<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body>
    {{navbar}}

    <div class="main">
        <div class="header">
            {{ title }}
        </div>

        {{ posts }}
    </div>
</body>

