<div class="sidenav">
    <p><a href="{{ depth }}index.html">Home</a></p>

    <p><a href="{{ depth }}about.html">About</a></p>

    <p><a href="{{ depth }}projects.html">Projects</a></p>

    <p><a href="{{ depth }}blog.html">Blog</a></p>
</div>
