<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body>
    {{navbar}}

    <div class="main">

        <div class="header">
            <h1>{{ project_name }}</h1>
        </div>
        
        <div class="blog_text">
            {{ proj_text }}
        </div>
        
        <div class="header">
            <h1>Project Posts</h1>
        </div>

        {{ posts }}

    </div>
</body>

