<!DOCTYPE html>

<head>
    {{ header }}
</head>

<body>
    {{navbar}}

    <div class="main">
        <div class="header">
            Projects
        </div>

        {{ projects }}
    </div>
</body>

