<div class="blog_post_item">
    
    <div class="blog_post_item_img">
        <img src={{ img_link }}/>
    </div>

    <div class="blog_post_item_text">
        <h3><a href="{{ link }}">{{ title }}</a></h3>

        <p>{{ date }}</p>

        <p>{{ summary }}<a href="{{ link }}">read more ...</a></p>
        
    </div>

</div>

