<!DOCTYPE html>

<head>
    {{ header }}
</head>
<body> 
    {{ navbar }}

    <div class="main">
        <div class="header">
            <h1>About</h1>
        </div>

        <div class="left_img_container">
            <div class="left_img">
                <img src="static/about.png" alt="A photo of me sitting on grass with blue flowers in the background">
            </div> 

            <div class="left_img_text">
                <p>
                    I am programmer and amateur chemist based in the San Francisco Bay Area. 
                    I graduated from Cal Poly San Luis Obispo with a BS in chemsitry and
                    a minor in computer science. I also am a contributor to open-source 
                    molecular dynamics simulation analysis tools.
                </p>

                <p>
                    I've done a varitey of <a href="src/projects.html">projects</a> that are detailed
                    on this website.
                </p>


            </div>
        </div>
    </div>
</body>
