<!DOCTYPE html>
<head>
    {{ header }}
</head>

<body> 
    
    <div id="header">
        <center><h1>Alia Lescoulie</h1></center>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    <h2>About Me</h2>
                    
                    <a href="about.html"><img class="fill" src="static/about_tile.gif" alt="About"></a>
                </th>
                <th>
                    <h2>Projects</h2>

                    <a href="projects.html"><img class="fill" src="static/projects_tile.gif" alt="Projects clip art"></a>
                </th>
                <th>
                    <h2>Blog</h2>

                    <a href="blog.html"><img class="fill" src="static/blog_tile.gif" alt="Blog clip art"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Science Posts</h2>

                    <a href="under_construction.html"><img class="fill" src="static/chem_tile.gif" alt="Science blog posts clip art"></a>
                </td>
                <td>
                    <h2>Software Posts</h2>

                    <a href="under_construction.html"><img class="fill" src="static/software_tile.gif" alt="Software blog posts clip art"></a>
                </td>
                <td>
                    <h2>Commentary Posts</h2>

                    <a href="under_construction.html"><img class="fill" src="static/commentary_tile.gif" alt="Commentary blog posts clip art"></a>
                </td>
            </tr>
        </tbody>
    </table>


    <div id="content">
        <p1> Welcome to my site </p1>
    </div>
</body>
